/* Seteado medida fija (era para usar medidas en "vw" ) */

html {
    font-size: 16px;
}

/* Fondo de Pantalla */

body {
    background-image: url(../imagenes/cannoli\ fondo\ body.jpg);
    background-size:contain;
    background-repeat: repeat; 
    max-width: 100%;
    font-size: 16px;
}

/* Navegacion */

.nav-main {
    float: left;
  }

.nav-main ul {
    list-style: none;
    overflow: hidden; 
  }

.nav-main ul li {
    float: left;
    font-family: Arial, sans-serif;
    font-size: 25px;
  }

.nav-main ul li a {
    display: block;
    padding: 10px;
    color: #181515;
    text-decoration: none;
  }

.nav-main ul li:hover {
    background: #eca023;
  }

  /* Oculte el sonido de fondo (si se recarga la pagina arranca solo) */

audio {
    display: none;
}

/* Formato y estilos del Header */

header {
    border: 5px solid red;
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 20px;
    
}

.social {
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.social img {
    width: 70px;
    max-width: 100%;
    height: auto;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    max-width: 200px;
    height: auto;
}

/* Contacto fijado en lateral inferior derecho */

.whatsapp-icon {
    position: fixed;
    bottom: 60px;
    right: 40px;
}

.whatsapp-icon img {
    width: 60px; 
    height: auto;
}

/* Retorno al Inicio fijado en lateral superior derecho */

.inicio img {
    width: 40px;
}

.inicio {
    position: fixed;
    right: 40px;
}

/* Estilos y tamaños en los textos */

.intro {
    font-size: 35px;
    font-family: 'Franklin Gothic Medium';
    text-align: left;
}

.significado {
    font-family: 'Italianno', cursive;
    font-size: 35px;
    font-weight: 500;
    width: 1100px;
    text-align: left;
}

h1 {
    margin: 0;
    flex-wrap: wrap;
    background: linear-gradient(70deg, green, white, red);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    text-align: center;
    font-size: 70px;
    font-family: tahoma;
    text-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}

h2 {
    font-size: 55px;
    text-decoration: underline;
}

h3 {
    font-size: 40px;
}

h4 {
    font-size: 30px;
}

ul {
    text-align:left;
    list-style-type: square;
    font-family: verdana;
    font-weight: 600;
    font-style: italic;
    font-size: 20px;
}

ol {
    max-width: 800px; 
    overflow-wrap: break-word;
    list-style-type: decimal;
    font-family: Helvetica;
    font-size: 18px;
    font-style: initial;
}

b {
    color:red;
}

a {
    color: #680ae4;
    text-decoration: none; 
    transition: color 0.5s; 
}

a:hover {
    color: #a3127f; 
}

/* Tamaños, Formatos y ubicacion de objetos */

.multimedia {
    width: 560px;
    height: 315px;   
}

.solo-cel {
    display: none;
}

.cuadro-con-imagen {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.imagen {
    flex: 1;
    padding-right: 20px;
}


.cuadro-de-texto {
    padding: 20px;
    margin: 10px auto;
    height: 300px;
}

.cuadro-de-texto h2 {
    color: #333;
}

/* Footer */

footer {
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content: space-evenly;
    background: linear-gradient(70deg, rgba(0, 128, 0, 0.596), rgba(255, 255, 255, 0.596), rgba(255, 0, 0, 0.589));
    color: #000000;
    padding: 20px;
    text-align: center;
}

footer iframe {
    padding-top: 10px;
    width: 300px;
    height: 180px;
}


.datos {
    padding-top: 10px;
    font-size: large;
    font-family: Verdana;
    
}

footer a {
    padding-top: 30px;
    color: #000000;
    text-decoration: none;
    margin: 0 10px;
}

footer p {
    font-size: 20px;
}


.cv-info p {
    font-family: 'Syne Mono', monospace;
    font-size: 30px;
    max-width: 1000px;

}

/* Puntos de quiebres de las Media Queries */

/* Breackpoint para Tablet */
@media screen and (max-width: 800px) {

    .social {
        padding-top: 20px;
    }
    
    .significado {
        max-width: 750px;
    }
    
    h2 {
        font-size: 40px;
    }
}

/* Breackpoint para celulares */
@media screen and (max-width: 500px) {
    
    header h1 {
        font-size: 60px;
    }

    .logo img {
        width: 130px;

    }   
    
    .social {
        padding-top: 20px;
    }

    .social img {
        width: 30px;
    }
    
    .inicio img {
        width: 20px;
    }

    .inicio {
        position: fixed;
        right: 15px;
        top: 35px;
    }

    .significado {
        max-width: 300px;
    }

    .multimedia {
        width: 85%;
        height: auto;
    }

    .solo-cel {
        display: block;
        width: 85%;
        height: auto;
    }

    .whatsapp-icon{
        position: fixed;
        bottom: 10px;
        right: 0 ;
    }

    .whatsapp-icon img {
        width: 50%;
        
    }
}